---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome 🌊</h1>
			<p>
				안녕하세요. 세상을 만들고 싶은 개발자 도루묵입니다 :)
			</p>
			<p>
				전 소프트웨어 엔지니어(3년)입니다.<br />

				현재는 사이트 개발을 외주 받아 일을 하고 있습니다.

				개발을 시작한지는 6년이 넘었고, 다양한 분야에서
				경험을 쌓아왔습니다.
			</p>
			<br />
			<b>소프트웨어 엔지니어 3년</b>
			<p>
				- 데스크톱 애플리케이션 개발(WPF, PyQt)<br />
				- 웹 프론트엔드(React, VanillaJS)<br />
			</p>
			<br />
			<b>주요 관심 분야</b>
			<p>
				- 컴퓨터 공학/과학<br />
				- 개발(Web, VR, Game)<br />
				- 디자인(Web)<br />
				- 경제/투자<br />
				- 철학/종교<br />
				- 자기계발/자기개발(영어, 일본어)<br />
				- 70/80년대 일본 음악<br />
			</p>
			<!-- <a href="/blog-big-wave/blog/about">도루묵이 무슨 뜻인가요?</a><br />
			<a href="/blog-big-wave/blog/using-mdx">무슨 세상을 말하나요?</a><br />
			<a href="/blog-big-wave/blog/about">어떤 개발을 하나요?</a> -->
		</main>
		<Footer />
	</body>
</html>
